include blocks/wrapper/block
include blocks/header/block
include blocks/horizontal-nav-menu/block
include blocks/search-form/block
include blocks/notification-box/block
include blocks/user-box/block
include blocks/settings-box/block
include blocks/content/block
include blocks/footer/block
include blocks/page/block
include blocks/widget-chart-1/block
include blocks/card-body/block
include blocks/card/block
include blocks/statistics-box-1/block
include blocks/statistics-box-2/block
include blocks/statistics-box-3/block
include blocks/statistics-box-4/block
include blocks/widget-chart-2/block
include blocks/profile-box/block
include blocks/inbox-widget/block
